<div class="container py-4">
  <!-- login -->
  <div *ngIf="!currentUser">
    <app-auth></app-auth>
  </div>

  <!-- eingeloggt-->
  <div *ngIf="currentUser">
    <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-3">
      <h1 class="mb-0">Budgetly</h1>
      <div>
        <span class="me-3 text-muted">Eingeloggt als: <strong>{{ currentUser }}</strong></span>
        <button class="btn btn-outline-danger btn-sm" (click)="logout()">Abmelden</button>
      </div>
    </div>

    <app-transaction-form (transactionAdded)="list.loadTransactions()"></app-transaction-form>
    <app-transaction-list #list></app-transaction-list>
  </div>
</div>